<!DOCTYPE html>
<html>
    <head>
        <title>Scraper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="/node_modules/angular/angular.js"></script>
    </head>
    <body ng-app ng-init="keywords=['God','Google','Naash ventures',
                                     'Gurugram','Bing','Noida','Haryana','yahoo'];">
        
  