<% include partials/header %>

<div class="container">
    
<header class="jumbotron">
    
    <div class="container">
    
    <h1>Search a keyword and get the best top 15 images!</h1>
    
    <a class="btn btn-primary btn-md"href="/keywords/new">Search a new keyword</a><br>
    
    </div>
    
</header>

</div>

<% include partials/footer %>